<link href="css/styles.css" rel="stylesheet">
<div class="home-hero">
	<!--Content of the Details page-->
	<div id="panel-container"><div id="panel" class="alert alert-info" role="alert">Test</div></div>
	</br>
	
	<!--Movie Form-->
	<div class="editActions">
	    <input type="button" id="moviesave"
		class="btn btn-primary save"
		name="save" value="Save Changes"/>
	    <input type="button" id="moviedel"
		class="btn btn-danger delete"
		name="delete" value="Delete Movie"/>
	</div>
	</br>
	<div class="form-horizontal">
   	<!-- each form input element is bracketed by a "form-group" div
	for Bootstrap styling -->
   	       <div class="form-group">
	       <label for="title" class="col-sm-3 control-label">Title</label>
	       <input type="text" class="error col-sm-9 input"
		        placeholder="e.g. The Dark Knight"
		        name="title" value="<%= title %>"/>
	       <span class="help-block"></span></div>

		<div class="form-group">
	       <label for="released" class="col-sm-3 control-label">Released</label>
	       <input type="text" class="col-sm-9 input"
		        placeholder="e.g. 2005"
		        name="released" value="<%= released %>"/>
	       <span class="help-block"></span></div>

		<div class="form-group">
	       <label for="released" class="col-sm-3 control-label">Director</label>
	       <input type="text" class="col-sm-9 input"
		        placeholder="e.g. Christopher Nolan"
		        name="director" value="<%= director %>"/>
	       <span class="help-block"></span></div>

		<div class="form-group">
 	       <label for="rating" class="col-sm-3 control-label">Rating</label>
	       <input type="text" class="col-sm-9 input"
		        placeholder="e.g. G, PG, PG-13, R"
		        name="rating" value="<%= rating %>"/>
	       <span class="help-block"></span></div>

		<div class="form-group">
 	       <label for="starring" class="col-sm-3 control-label">Starring</label>
	       <input type="text" class="col-sm-9 input"
		        placeholder="e.g. Steven Martin, Jennifer Conelly"
		        name="starring" value="<%= starring %>"/>
	       <span class="help-block"></span></div>

		<div class="form-group">
 	       <label for="duration" class="col-sm-3 control-label">Duration</label>
	       <input type="text" class="col-sm-9 input"
		        placeholder="e.g. 122 minutes"
		        name="duration" value="<%= duration %>"/>
	       <span class="help-block"></span></div>

		<div class="form-group">
 	       <label for="genre" class="col-sm-3 control-label">Genre(s)</label>
	       <input type="text" class="col-sm-9 input"
		        placeholder="e.g. Comedy, Action, Thriller"
		        name="genre" value="<%= genre %>"/>
	       <span class="help-block"></span></div>

	       <div class="form-group">
 	       <label for="genre" class="col-sm-3 control-label">Synopsis</label>
	       <input id="synopsis" type="text" class="col-sm-9 input"
		        placeholder="summary of the movie plot"
		        name="synopsis" value="<%= synopsis %>"/>
	       <span class="help-block"></span></div>

		<div class="form-group">
 	       <label for="genre" class="col-sm-3 control-label">Trailer URL</label>
	       <input type="text" class="col-sm-9 input" size="50px" height="100px"
		        placeholder="e.g. https://www.archive.org/..."	
		        name="trailer" value="<%= trailer %>"/>
	       <span class="help-block"></span></div>
       </div>

<!--poster UI-->
	<div class = "edit-poster">
	<img id ="drop-zone" src="img/placeholder.png"></img><br>
	Drag and drop poster on the above image or 
	<input class="upload-button" type="file" id ="upload-button" accept="image/*"/>
	</div>



